:root {
  --primaryColor: #292F36;
  --secondaryColor: #CDA274;
  --fontColor: #4D5053;
  --primaryFont: 'DM Serif Display', serif;
  --secondaryFont: 'jost', serif;

}

h1,
h2,
h3,
h4 {
  font-family: var(--primaryFont);
}

a{
  color:#fff;
  text-decoration: none;
}


/* Css for Mobile */
@media screen and (max-width: 768px) {

  .main_hero {
    height: 80vh !important;
    border-radius: 0 0 0 0 !important;
  }

  .main_hero .data-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
    text-align: center;
    width: 100%;
    max-width: 360px !important;

  }

  .data-wrapper h2 {
    font-family: var(--primaryFont);
    font-size: 42px;
    font-weight: 500;
    max-width: 400px;
    color: var(--primaryColor);
  }

  .data-wrapper span {
    font-family: 'jost', serif;
    font-size: 20px;
    font-weight: 500;
    max-width: 520px;
    color: var(--primaryColor);
    margin-top: -40px;
  }





  .transparent_cardwrapper,
  .blog_cardwrapper,
  .testimonial_cardwrapper,
  .brand_images,
  .testimonial_wrapper {

    display: flex;
    flex-direction: column !important;
    justify-content: space-between;
    align-items: center;
    padding: 0 !important;
  }

  .intro_card {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f7f5f3;
    border-radius: 20px;
    margin: 20px 0px;
    padding: 20px 0px;
  }

  .cta_wrapper {
    display: flex;
    flex-direction: column-reverse !important;
  }

  .cta_data_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px !important;
  }

  .cta_data_wrapper span {
    width: 100%;
    max-width: 340px;
  }

  .image_wrapper {
    width: 100%;
    max-width: 340px !important;
    height: 440px !important; 
    background-image: url("./assets/cta.jpg");
    border-radius: 0 326px 0 123px;
    background-size: contain;
  }
  

  .horizontal_wrapper {

    justify-content: center !important;


  }

  .testimonial_wrapper {
    width: 100%;
    max-width: 340px !important;
    padding: 0px 0px 40px 0px !important;

  }

  .testimonial_wrapper h2 {

    text-align: center;
    padding: 0px 20px;
  }

  .brand_images {
    display: none !important;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    overflow: hidden;

  }


  .projects_wrapper {

    width: 100%;
    max-width: 340px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .project_grid {
    display: grid;
    grid-template-columns: auto !important;
    grid-template-rows: auto auto auto auto !important;
    column-gap: 60px;
    row-gap: 60px;
  }


  .project_card .horizontal_wrapper {
    justify-content: space-between !important;
    align-items: center;
    margin: 20px 0px !important;

  }

  .counterWrapper {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }

  .seperator_bar {
    display: none;
  }

  .blogSection {
    width: 100%;
    max-width: 340px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .blog_cardwrapper {
    gap: 60px;
  }

  .JoinUs {
    text-align: center;

  }
  

  .herowrapper{
    display: flex;
    justify-content: center;
    align-items: end;
    width:100%;
    height:180px !important;
    background-image:url("./assets/aboutstarterimage.png") ;
  }

  .pagenamewrapper{
    width:100%;
    max-width: 260px !important;
    height:120px !important;
    background-color:#fff;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border-radius: 32px 32px 0px 0px;
    font-size:14px !important;
    font-family: var(--secondaryFont);
    font-weight: 400;
    color: var(--fontColor);
  }

  .pagenamewrapper h2{
    font-size: 28px !important;
  }



    
    .testimonial-wrapper{
    height: 340px !important;
    background-size: 340px 220px !important;
    background-position: center;
    padding:0px 60px;
    margin:0px 0px !important;
    font-family:var(--secondaryFont);
    font-size: 12px !important;
    font-weight:500;
    
    }
    .testimonial-wrapper h5{
    
      font-size:16px !important;
      font-weight:400;
      margin-top:-28px !important;
      }
    
    
    .testimonial-wrapper .blockquote{
    
    font-family:var(--primaryFont);
    font-size:62px;
    margin:0px;
    padding:0px;
    }


}

/* Css for Tablets */

@media screen and (min-width:768px)  and (max-width: 1024px) {

.main_hero{
  height:60vh !important;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}
.main_hero .data-wrapper{
  width:100%;
   max-width: 90% !important;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.transparent_cardwrapper{
   width:100%;
   max-width: 90% !important;
}
.transparent_cardwrapper .intro_card{
  width:100%;
  max-width: 200px !important;

}

.cta_wrapper {
  display: flex;
  flex-direction: column-reverse !important;
}

.cta_wrapper .image_wrapper{
  width:100%;
  max-width:400px;
}


.cta_data_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width:100%;
  max-width: 80% !important;
  margin:auto ;
  padding:0px !important;
}

.cta_data_wrapper .horizontal_wrapper{
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  padding-top:20px;

}

.testimonial_wrapper {
  width: 100%;
  max-width: 90% !important;
  padding: 0px 0px 40px 0px !important;

}

.testimonial_wrapper h2 {

  text-align: center;
  padding: 0px 20px;
}

.testimonial_cardwrapper{
  display: flex;
  flex-direction: column !important;
  justify-content: center !important;
  align-items:center !important;
}
.testimonial_card{
  width:100%;
  max-width: 280px !important;
}

.brand_images{
  width:100%;
  max-width: 90% !important;
}

.projects_wrapper{
  width: 100%;
  max-width: 90% !important;
}
.JoinUs{
  width: 100%;
  max-width:90% !important;
}


.testimonial-wrapper{
  height: 440px !important;
  width:100%;
  max-width:360px !important;
  background-size: 440px 220px !important;
  background-position: center;
  
  }


}

/* Css for anything above */


.section{
  width:100%;
  max-width: 1000px;
  padding: 40px 0px ;
}


.main_hero {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/Photo.jpg");
  background-size: cover;
  background-position: left top;
  border-radius: 0 0 0 290px;
}

.main_hero .data-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: start;
  width: 100%;
  max-width: 1000px;

}

.data-wrapper h2 {
  font-family: var(--primaryFont);
  font-size: 62px;
  font-weight: 500;
  max-width: 400px;
  color: var(--primaryColor);
}

.data-wrapper span {
  font-family: 'jost', serif;
  font-size: 20px;
  font-weight: 500;
  max-width: 520px;
  color: var(--primaryColor);
  margin-top: -40px;
}

.button_icon {
  margin-left: 10px;
  color: "#fff";
}

.transparent_cardwrapper {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 100px auto 0 auto;
  padding: 80px 0px;

}

.intro_card {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro_card h3 {
  font-family: var(--primaryFont);
  font-size: 26px;
  font-weight: 400;
}

.intro_card span {
  font-family: var(--secondaryFont);
  font-size: 18px;
  font-weight: 500;
}

.cta_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 80px 0px;
}

.cta_data_wrapper {
  width: 100%;
  font-family: var(--secondaryFont);
  font-size: 20px;
  font-weight: 500;
  padding: 0px 120px 0px 0px;
  color: #4D5053;

}

.cta_data_wrapper h2 {
  font-family: var(--primaryFont);
  font-weight: 400;
  max-width: 360px;
  font-size: 42px;
  color: var(--primaryColor);
}



.image_wrapper {
  width: 100%;
  height: 600px;
  background-image: url("./assets/cta.jpg");
  border-radius: 0 326px 0 123px;
  background-size: cover;
}

.horizontal_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

}

.icon_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #F4F0EC;
}

.vertical_wrapper_phone {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 20px 30px
}

.vertical_wrapper_phone p {
  padding: 0;
  margin: 0;
}

.vertical_wrapper_phone h5 {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.testimonial_wrapper {

  width: 100%;
  max-width: 1000px;
  background-color: #F4F0EC;
  margin: 80px auto 80px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 20px 120px 20px;
  border-radius: 60px;
  font-family: var(--secondaryFont);
  font-size: 16px;
  font-weight: 400;
}

.testimonial_wrapper h2 {

  font-size: 42px;
  font-weight: 400;


}


.testimonial_cardwrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.testimonial_card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 200px;
  max-width: 220px;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 40px;
  margin-top: 60px;
}


.testimonial_pic {
  height: 70px;
  width: 70px;
  padding-right: 20px;
}

.testimonial_data h5 {
  font-family: var(--primaryFont);
  font-size: 18px;
  margin: 0;
}

.brand_images {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand_images img {
  width: 100px;
}

.projects_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 80px auto 80px auto;
  font-size: 18px;
  color: #4D5053;

}

.projects_wrapper h2 {
  font-size: 42px;
  font-weight: 400;
  margin: 10px 0px
}

.projects_wrapper span {
  max-width: 600px;
  text-align: center;
  font-family: var(--secondaryFont);
  font-size: 16px;
  font-weight: 500;
}

.project_cardwrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.project_grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 60px;
  row-gap: 60px;
}

.project_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}

.project_image {
  width: 100%;
  max-width: 400px;
  border-radius: 0 0 0 0;
}

.project_card .horizontal_wrapper {
  justify-content: space-between;
  align-items: center;
  margin: 20px 2px;
}

.project_datawrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  color: #4D5053;
  font-size: 18px;
  margin: 0px 0 0 0;
}

.project_datawrapper h4 {

  font-size: 20px;
  font-family: var(--primaryFont);
  color: var(--primaryColor);
  font-weight: 400;
  margin: 0px 0px;
}

.counter_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding: 60px 0px;
  background-color: #F4F0EC;

}

.counterWrapper {

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  max-width: 1000px;
}

.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--fontColor);
  font-family: var(--secondaryFont);
  font-weight: 400;
  font-size: 16px;
}

.counter h2 {
  font-family: var(--primaryFont);
  color: var(--secondaryColor);
  font-size: 40px;
  font-weight: 400;
  margin: 10px 0px;
}

.seperator_bar {
  width: 1px;
  height: 100px;
  background-color: #CDA274;
  margin: auto 0;
  padding: 0;
}

.blogSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 80px auto;
}

.blog_datawrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--fontColor);
  font-size: 16px;
  width: 100%;
  max-width: 600px;
}

.blog_datawrapper h2 {
  font-family: var(--primaryFont);
  font-size: 42px;
  font-weight: 400;
}

.blog_cardwrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  max-width: 1000px;
  margin: 80px 0px;

}

.blog_cardoutline {
  width: 100%;
  max-width: 280px;
  border-radius: 40px;
  border: 1px solid #e7e7e7;
  padding: 20px;
}

.blog_cardoutline:hover {
  background-color: #F4F0EC;
  border-radius: 40px;
  transition: 0.2s ease;
}

.blog_container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  margin: auto;
}

.blog_imagewrapper {

  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 40px 40px 0 0;
}

.blogImage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  z-index: 1;
}

.blog_imagewrapper h4 {

  font-family: var(--secondaryFont);
  font-size: 16px;
  font-weight: 500;
  width: 120px;
  height: 20px;
  text-align: center;
  background-color: #fff;
  color: #4D5053;
  border-radius: 8px;
  position: absolute;
  top: auto;
  margin: 0;
  padding: 10px;
  bottom: 10px;
  right: auto;
  left: 10px;
  z-index: 4;
}

.blog_container h3 {
  font-family: var(--primaryFont);
  font-size: 22px;
  font-weight: 400;
  color: var(--primaryColor);
  width: 100%;
  max-width: 250px;
}

.blog_container .horizontal_wrapper {

  justify-content: space-between;
  margin-top: -20px;
  color: #4D5053;
}

.JoinUs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #292F36;
  color: #fff;
  font-family: var(--secondaryFont);
  font-size: 18px;
  width: 100%;
  border-radius: 16px;
  padding: 40px 0px;
}

.JoinUs h2 {
  font-family: var(--primaryFont);
  font-size: 42px;
  margin: 20px 0px;

}

.herowrapper{
  display: flex;
  justify-content: center;
  align-items: end;
  width:100%;
  height:360px;
  background-image:url("./assets/aboutstarterimage.png") ;
}

.pagenamewrapper{
  width:100%;
  max-width: 500px;
  height:160px;
  background-color:#fff;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  border-radius: 32px 32px 0px 0px;
  font-size:18px;
  font-family: var(--secondaryFont);
  font-weight: 400;
  color: var(--fontColor);

}
.pagenamewrapper h2{
  font-family: var(--primaryFont);
  font-weight: 400;
  max-width: 360px;
  font-size: 42px;
  color: var(--primaryColor);
  margin:0px;
}

.client-testimonial{

width:100%;
max-width:1000px;
display:flex;
justify-content: center;
align-items: center;
margin: -60px auto -100px auto;

}

.testimonial-wrapper{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
width:100%;
max-width:500px;
height:500px;
background:   url("./assets/testtimonialpattern.png") no-repeat;
background-size: 600px 300px;
background-position: center;
padding:0px 60px;
margin:60px 0px;
font-family:var(--secondaryFont);
font-size: 16px;
font-weight:500;

}
.testimonial-wrapper h5{

  font-family:var(--primaryFont);
  font-size:24px;
  font-style: italic;
  font-weight:400;
  margin-top:-20px;
  padding:0px;
  }


.testimonial-wrapper .blockquote{

font-family:var(--primaryFont);
font-size:62px;
margin:0px;
padding:0px;
}

.column-section{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  margin:auto;
}